version: "3"
services:
  app:
    build: .
    command: stack run
    ports:
      - 3000:3000
    environment:
      - POSTGRES_HOST=postgres
    depends_on:
      - postgres

  postgres:
    image: "postgres"
    env_file:
      - .env
    ports:
      - 5432:5432
    volumes:
      - $HOME/docker/volumes/postgres:/var/lib/postgresql/data
